.new-pass-btn-wrapper {
    display: flex;
    justify-content: flex-end;
}

table {
    width: 100%;
    border-spacing: unset;
    margin-top: 20px;
}

table thead th {
    font-size: 20px;
    text-align: left;
}

table thead th:first-child {
    min-width: 30px;
}

table tbody td:nth-child(1),
table tbody td:nth-child(2) {
    font-size: 20px;
}

table tbody td {
    vertical-align: middle;
    height: 50px;
    border-top: 1px solid lightgray;
}

table tbody tr:first-child td {
    border-top: none;
}

.actions button {
    cursor: pointer;
    user-select: none;
    border: none;
    padding: 10px 20px;
    border-radius: 16px;
    margin: 4px 4px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.actions button.delete-btn {
    background-color: crimson;
}
