table {
    width: 100%;
    border-spacing: unset;
}

table thead th {
    font-size: 20px;
    text-align: left;
}

table tbody td:nth-child(1),
table tbody td:nth-child(2) {
    font-size: 20px;
}

table tbody td {
    vertical-align: middle;
    height: 40px;
    border-bottom: 1px solid lightgray;
}

.actions button {
    background-color: gray;
    cursor: pointer;
    user-select: none;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: black;
    margin: 4px 2px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}
