.button {
    margin: 4px 4px;
    text-decoration: none;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    border-radius: 20px;
    display: inline-block;
    line-height: 18px;
}

.btn-primary {
    background-color: dodgerblue;
    color: white;
}

.btn-success {
    background-color: yellowgreen;
    color: white;
}

.btn-warning {
    background-color: orange;
    color: white;
}

.btn-danger {
    background-color: crimson;
    color: white;
}

a.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

a.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

body {
    background: black;
    color: white;
    font-family: sans-serif;
}
