.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

input {
    margin-bottom: 5px;
}

.passwordWrapper {
    position: relative;
    width: 100%;
}
.show-btn {
    position: absolute;
    right: -70px;
}
